{% extends 'core/base.html' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
    <h1 class="mb-4 text-xl">Teams</h1>

    <div class="flex space-x-4">
        {% for team in teams %}
            <div class="{% if team == active_team %}bg-emerald-100{% else %}bg-gray-100{% endif %} w-1/4 rounded-xl px-6 py-6 m-6">
                <h2 class="mb-6 text-xl">{{ team.name }}</h2>
                {% if team == active_team %}
                    <a href="{% url 'team:detail' team.id %}" class="inline-block py-4 px-6 bg-teal-600 text-white rounded-xl">Team details</a>
                {% else %}
                    <a href="{% url 'team:activate' team.id %}" class="inline-block py-4 px-6 bg-teal-600 text-white rounded-xl">Activate team</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}